* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: #000;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 100%;
  height: 100%;
  max-width: 430px;
  max-height: 760px;

  padding: 40px 24px; /* ⬅️ ΑΥΤΟ ΛΥΝΕΙ ΤΟ ΘΕΜΑ */

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.text {
  position: absolute;
  font-size: 3rem;
  font-weight: 800;
  color: white;
  opacity: 0;
  transform: scale(0.9);
  transition: all 0.5s ease;
}

.text.active {
  opacity: 1;
  transform: scale(1);
}

#t2 {
  color: #ff4d4d;
}

#t4 span {
  color: #00ff9c;
}

.small {
  font-size: 2rem;
  opacity: 0.8;
}